.exit {
    margin-top: 40px;
}

.card-footer {
    background: transparent;
}

img.table-avatar {
    width: 8rem;
    
}
.card_img{
}

.products {
    margin-top: 15px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.products .card {
    margin-right: 30px;
    border-radius: 12px;
}

.products .card .card_img {
    width: 250px;
    height: 250px;
    margin: 25px auto 15px;
}

.btn-danger{
    margin-top: 15px;
    border: 2px solid red;
    background: transparent;
    color: black;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    box-shadow: 1px 1px 25px gray
}
.btn-danger:hover{
    background: red;
}

.products .card:hover{
    box-shadow: 1px 1px 25px black;
    transform: scale(1.1);
    transition: 0.5s;
    filter: blur(-5px);
    z-index: 5;
}

h4{
    color: red;
    font-weight: 900;
}
.products .card .card_info {
    height: 160px;
}

.products .card .card_info h5 {
    font-weight: 900;
}

.products .card .card_info .card-text {
    height: 50px;
    padding-top: 15px;

}

.products .card .card_info .card-price {
    font-weight: 700;

}

.products .card .card-body .btn-primary {
    background: transparent;
    color: black;
    display: flex;
    justify-content: center;
    border: solid 2px black;
    border-radius: 15px;
    box-shadow: 1px 1px 25px gray;
}
 .btn-delete{
    border: 1px solid red;
    background: red;
    color: white;
}

.products .card .card-body .btn-primary:hover {
    background: grey;
    transition: 0.5s;
    color: white;
    border: white solid 2px;
}